* {
  font-family: 'Barlow', sans-serif; }

.bodyColor {
  background-color: #fefbe7; }

.navColor {
  background-color: #f9ebc8; }

.blackColorText {
  color: #0a0a0a; }

.whiteColorText {
  color: #fff; }

.hero {
  background-color: #fefbe7; }

.galery {
  background-color: #fefbe7; }

.galeryCards {
  color: #fff; }

.aboutContainer {
  background-color: #fefbe7; }

.formContainer {
  background-color: #fefbe7; }

.formContainerTextArea {
  resize: none; }

.farewellContainer {
  background-color: #fefbe7; }

.farewellDiv {
  background-color: #fefbe7; }

.farewellDivAnchor {
  color: #f9ebc8; }

.foo {
  background-color: #a0bcc2; }

.icons {
  color: #627377; }
  .icons:hover {
    color: #8ca4aa; }
