* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
  overflow-x: hidden; }

.blackColorText {
  color: #0a0a0a; }

.whiteColorText {
  color: #fff; }

.navIcons {
  color: white;
  text-decoration: none; }
  .navIcons:hover {
    color: white;
    text-decoration: underline; }

.bodyColor, .bodyColorProjects, .bodyColorAbout, .bodyColorContact {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #030d1a;
  background-image: url(../assets/waves2.svg); }

.bodyColorProjects {
  background-image: url(../assets/stacked-waves-haikei.svg); }

.bodyColorAbout {
  background-image: url(../assets/waves3.svg); }

.bodyColorContact {
  background-image: url(../assets/waves4.svg); }

.emojiWhatsapp {
  height: 5rem;
  width: 5rem; }

.foo {
  position: relative; }

.icons {
  color: #627377; }
  .icons:hover {
    color: #8ca4aa; }

.galery {
  color: white; }

.galeryImg {
  height: 12vh;
  width: 100%; }

.colorTestimonios {
  color: #001122; }

.imgTestimonios {
  border-radius: 50%;
  border: 2px solid #fff; }

.modalImgCurriculum {
  width: 100%; }

#tailwindlogo{
  width:3rem;
}


.imgAbout {
  width: 25rem;
  border-radius: 50%;
  border: 2px solid #fff; }

.formContainerTextArea {
  resize: none; }

.farewellDivAnchor {
  color: #f9ebc8; }
