
.bodyColor{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(3, 13, 26);
    background-image: url(../assets/waves2.svg);
}

.bodyColorProjects{
    @extend .bodyColor;
    background-image: url(../assets/stacked-waves-haikei.svg);
}

.bodyColorAbout{
    @extend .bodyColor;
    background-image: url(../assets/waves3.svg);
}

.bodyColorContact{
    @extend .bodyColor;
    background-image: url(../assets/waves4.svg);
}
