
.bodyColor{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(3, 13, 26);
    background-image: url(../assets/layered-waves-haikei.svg);
}
