$colorTextTestimonios:#001122;

.galery {
    color: white;
}

.galeryImg {
    height: 12vh;
    width: 100%;
}

.colorTestimonios {
    color: $colorTextTestimonios;
}

.imgTestimonios {
    border-radius: 50%;
    border: 2px solid #fff;
}