.navColor{
    background-color: rgb(249, 235, 200);
}

.blackColorText{
    color: #0a0a0a;
}

.whiteColorText{
    color: #fff;
}

.hero{
    height: 80vh;
    background-color: rgb(254, 251, 231);
}

.galery{
    background-color: rgb(254, 251, 231);
}

.galeryCards{
    color: #fff;
    background-color:rgb(98, 115, 119);
}

.foo{
    background-color: rgb(160, 188, 194);
}

.icons{
    color: rgb(98, 115, 119);

    &:hover{
    color:rgb(140, 164, 170);}
}