*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    overflow-x: hidden;
}

.bodyColor{
    background-color:rgb(0, 0, 0);
}

.navColor{
    background-color: rgb(0, 0, 0);
}

.navIcons{
    color: rgb(218, 218, 218);
    text-decoration: none;

    &:hover{
    color:rgb(255, 255, 255);}
}

.blackColorText{
    color: #0a0a0a;
}

.whiteColorText{
    color: #fff;
}

.hero{
    background-color: rgb(0, 0, 0);
}

.galery{
    color: white;
    background-color: rgb(0, 0, 0);
}

.galeryImg{
    height: 15vh;
    width: 100%;
}

.testimoniosColor{
    background-color: #000000;
}

.imgTestimonios{
    border-radius: 50%;
    border: 2px solid #fff;
}

.aboutContainer{
    background-color: rgb(0, 0, 0);
}

.modalImgCurriculum{
    width: 100%;
}

.imgAbout{
    width: 25rem;    
    border-radius: 50%;
    border: 2px solid #fff;
}

.formContainer{
    background-color: rgb(0, 0, 0);
}

.formContainerTextArea{
    resize: none;
}

.farewellContainer{
    background-color: rgb(0, 0, 0);
}

.farewellDiv{
    background-color: rgb(0, 0, 0);
}

.farewellDivAnchor{
    color: rgb(249, 235, 200);
}

.foo{
    background-color: rgb(160, 188, 194);
}

.icons{
    color: rgb(98, 115, 119);

    &:hover{
    color:rgb(140, 164, 170);}
}

.waves{
    aspect-ratio: 960/600;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wavesLayer1{
    background-image: url(../assets/layered-waves-haikei.svg);
}