*{
    font-family: 'Barlow', sans-serif;
}

.navColor{
    background-color: rgb(249, 235, 200);
}

.blackColorText{
    color: #0a0a0a;
}

.whiteColorText{
    color: #fff;
}

.hero{
    background-color: rgb(254, 251, 231);
}

.galery{
    background-color: rgb(254, 251, 231);
}

.galeryCards{
    color: #fff;
}

.aboutContainer{
    background-color: rgb(254, 251, 231);
}

.formContainer{
    background-color: rgb(254, 251, 231);
}

.formContainerTextArea{
    resize: none;
}

.farewellContainer{
    background-color: rgb(254, 251, 231);
}

.farewellDiv{
    background-color: rgb(254, 251, 231);
}

.farewellDivAnchor{
    color: rgb(249, 235, 200);
}

.foo{
    background-color: rgb(160, 188, 194);
}

.icons{
    color: rgb(98, 115, 119);

    &:hover{
    color:rgb(140, 164, 170);}
}